<!-- Footer -->
<footer class="footer section pt-6 pt-md-5 pb-3 bg-primary text-white overflow-hidden">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 mb-4 mb-lg-0">
            <img src="{{'/assets/img/brand/easy_tee_brand_white.png' | relative_url}}" height="55" class="mr-3" alt="Footer logo">
            <p class="my-4">Tee sheets for the modern era. Integrated with Square POS.</p>
            <a href="https://app.easyteegolf.com/" class="btn btn-md btn-outline-white animate-up-2">Log In</a>
              
          </div>
      </div>
      <hr class="my-4 my-lg-5">
      <div class="row">
          <div class="col pb-4 mb-md-0">
              <div class="d-flex text-center justify-content-center align-items-center">
                  <p class="font-weight-normal mb-0">Copyright © Easy Tee Golf LLC <span class="current-year"></span>. All rights reserved.</p>
                  
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col text-center">
            <p>
                <a href="https://www.instagram.com/easyteegolf/" target="_blank"><i class="fab fa-2x fa-instagram mr-3"></i></a>
                <a href="https://www.facebook.com/EasyTeeGolfApp" target="_blank"><i class="fab fa-2x fa-facebook mr-3"></i></a>
                <a href="https://twitter.com/EasyTeeGolf" target="_blank"><i class="fab fa-2x fa-twitter-square"></i></a>
            </p>
          </div>
      </div>
  </div>
</footer>