<!-- Navigation -->
<header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg headroom py-lg-3 px-lg-6 navbar-dark navbar-theme-primary">
        <div class="container">
        <a href="#home" class="js-scroll-trigger">
            <img class="navbar-brand-dark common" src="{{'assets/img/brand/easy_tee_brand_white.png' | relative_url}}" height="50" alt="Logo light">
            <img class="navbar-brand-light common" src="{{'assets/img/brand/easy_tee_brand.png' | relative_url}}" height="50" alt="Logo dark">
        </a>
            
            <div class="d-none d-lg-block @@cta_button_classes">
                <a href="#features" class="btn btn-md btn-outline-white animate-up-2 mr-2 js-scroll-trigger"><i class="fas fa-book mr-2"></i>Features</a>
                <a href="#pricing" class="btn btn-md btn-outline-white animate-up-2 mr-2 js-scroll-trigger"><i class="fas fa-tag mr-2"></i>Pricing</a>
                <a href="#" data-toggle="modal" data-target="#pricing-modal" class="btn btn-md btn-secondary animate-up-2 mr-2"><i class="fas fa-pen mr-2"></i></i>Contact Us</a>
                <a href="https://app.easyteegolf.com/" class="btn btn-md btn-outline-white animate-up-2">Log In</a>
            </div>
            <div class="d-lg-none">
                <a href="https://app.easyteegolf.com/" class="btn btn-md btn-outline-white animate-up-2">Log In</a>
            </div>
            
        </div>
    </nav>
</header>