<!-- Core -->
<script src="{{'/assets/vendor/jquery/dist/jquery.min.js' | relative_url}}"></script>
<script src="{{'/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' | relative_url}}"></script>


<!-- Vendor JS -->
<script src="{{'/assets/vendor/headroom.js/dist/headroom.min.js' | relative_url}}"></script>
<script src="{{'/assets/vendor/reveal/reveal.js' | relative_url}}"></script>
<script src="{{'/assets/vendor/jquery.easing.min.js' | relative_url}}"></script>
<script src="{{'/assets/vendor/scroll.min.js' | relative_url}}"></script>

<!-- Impact JS -->
<script src="{{'/assets/js/front.js' | relative_url}}"></script>
<script src="{{'/assets/js/formvalidate.js' | relative_url}}"></script>
